*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    background: linear-gradient(black,#063940,#195e63,#3e838c,#8ebdb6);
    grid-template-columns: 25% 1fr;
    grid-template-rows: 50px 1fr 40px;
    grid-template-areas: 
    "zh zh"
    "zn zm"
    "zf zf";
}

header{
    grid-area: zh;
    color:#ece1c3;
    padding: 1rem;

}

nav{
    grid-area: zn;
    color: #8ebdb6;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3); /* fondo negro translúcido */
    border-radius: 25px; /* esquinas redondeadas */
    backdrop-filter: blur(4px); /* efecto de difuminado del fondo */
    -webkit-backdrop-filter: blur(4px); /* compatibilidad con Safari */
    margin: 1rem;
    padding:1rem;

}

main{
    grid-area: zm;
    color: #8ebdb6;
    padding:1rem;
}

footer{
    grid-area: zf;
    color: #063940;
    display:flex;
    align-items: center;
    justify-content: center;


}


@media (max-width: 768px){        /*ESTILOS PARA DISPOSITIVOS DE HASTA 768px (TABLET EN VERTICAL)*/
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 25px 25px 1fr 15px;
        grid-template-areas: 
        "zh"
        "zn"
        "zm"
        "zf";
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
    }
}

#search{
    display:block;              /*HACE QUE EL INPUT SEA UN BLOQUE Y DEJE UN HUECO BAJO EL*/
    margin-bottom: 4px;

}

#suggestions{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3); /* fondo negro translúcido */
    border-radius: 10px; /* esquinas redondeadas */
    backdrop-filter: blur(4px); /* efecto de difuminado del fondo */
    -webkit-backdrop-filter: blur(4px);
}

#search:focus + #suggestions{
    display:block;
}

#suggestions li{
    padding: 4px;
    cursor: pointer;

}

#suggestiions li:hover{
    background-color: #195e63;
}